@import '../node_modules/carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import '../node_modules/carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import '../node_modules/carbon-components/scss/globals/scss/typography.scss';
@import '../node_modules/carbon-components/scss/globals/scss/vars.scss';
@import "../node_modules/carbon-components/scss/globals/scss/styles.scss";



.employee-list-table {
    width: 100%;
    margin-top: 10px;

    .add-employee-btn {
        margin-right: 20px !important;
        margin-bottom: 10px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .edit-employee {
        padding: 5px;
        margin-right: 10px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        min-height: 2rem !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        width: 65px;
    }

    .delete-employee {
        background: red !important;
        padding: 5px;
        margin-right: 10px !important;
        border: 1px solid red !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        width: 50px;
        min-height: 2rem !important;
        padding-left: 13px !important;
        padding-right: 13px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        width: 65px;
    }

    .emp-details {
        font-size: 0.875rem !important;
    }
    .bx--dropdown__wrapper {
        .bx--label {
            margin-top: 20px;
        }
    }

   
}

.selected-emp-list {
    list-style: decimal !important;
}

.selected-emp-detail-modal {
    .bx--modal-content {
        margin-left: 20px !important;
    }
}

.add-form > .bx--form > .bx--fieldset > .bx--label {
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
  }

.add-form {
    width: 50%;
    margin: 0 auto;
    padding-top: 60px;

    .form-title {
        font-size: 14px;
        text-align: center;
    }

    .form-group-child {
        width: 65%;
        margin: 0 auto;

        .addform-inputs {
            width: 100%;
            height: 35px;
            margin-bottom: 10px;
            font-size: 16px;
            padding: 0px 5px !important;
        }

        .imp-field {
            color: red;
        }

        .add-form-btn {
            background-color: blue;
            padding: 5px;
            font-size: 16px;
            color: #ffffff;
            border: 1px solid blue;
            height: 39px;
            float: right;
            margin-top: 20px !important;
        }

        .step-btn {
            background-color: blue;
            padding: 5px;
            font-size: 16px;
            color: #ffffff;
            border: 1px solid blue;
            height: 39px;
            float: left;
            margin-top: 20px !important;
        }

        .prev-btn {
            margin-left: 10px !important;
        }
    }
}

.dropdown-menu {
    width: 20%;
}
